body {
}

h1{
   text-align:center;
   color:red;
}

.div1{
    background-color:orange;
    height:200px;
    width:200px;
    position:static;
}

p{
    font-size:20px;
    border:1px solid black;
}

/*Absolute position*/
.sabitresima{
    position:absolute;
    left:100px;
    top:10px;
    width:500px;
    height:500px;
}

#kutu{
    padding:10px;
    background-color:aqua;
    top:10px;
}

#kapat{
    float:left;
    background:blue;
    color:white;
}

.grup{
    display:block;
    color:red;
}

.grup1{
    display:inline;
    color:red;
    border-style:double;
}

.imgcls{
    display:inline;
    height:100px;
}

img{
/*    display:block;*/
    top:100px;
    height:200px;
}

#p2{
    display:none; /*Tamamen ekrandan kaldırmak için*/
}

#p3 {
    visibility: hidden;
}
#p4{
    visibility:hidden;
}

.secici{
    text-align:center;
    font-size:40px;
    font-family:'Segoe UI';
    color:white;
    display: block;
    margin:40px;
    padding:20px;
    background:#c00;
    background-size:cover;
}