body {
}

#flex-kutu{
    width:auto;
    height:auto;
    border:2px solid silver;
    display:flex;
    flex-direction:row;
}

#logo{
    text-align:center;
    border:2px solid red;
    font-size:30px;
    padding:20px;
}

.alt-kutular{
    width:300px;
    margin:20px;
    padding: 10px;
    background-color:silver;
}

a{
    background-color:antiquewhite;
    color:black;
    padding:5px;
    border-radius: 5px;
    text-decoration:dotted;
}